<!-- <div class="aboutContainer"> 
	<div class="resTitle">About Food Mania</div>
	<span class="image">	
		<img src=".././assets/cafe.jpg">
	</span>	
	<span class="abtRes">
		<p>Food Mania is a technology company that connects people with the best in their cities. We do this by empowering local businesses and in turn, generate new ways for people to earn, work and live. We started by facilitating door-to-door delivery, but we see this as just the beginning of connecting people with possibility — easier evenings, happier days, bigger savings accounts, wider nets and stronger communities.</p>
	</span>
</div> -->


<div class="aboutContainer row"> 
	<div class=" col-lg-2">
	<span class="image">	
		<img src=".././assets/cafe.jpg">
	</span>	
	</div>
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
	   <div class="resTitle">About Food Mania</div>
		<div class="row">
			<div class="col-lg-2"></div>
            <div class="abtRes col-lg-10">
				<p>Food Mania is a technology company that connects people with the best in their cities. We do this by empowering local businesses and in turn, generate new ways for people to earn, work and live. We started by facilitating door-to-door delivery, but we see this as just the beginning of connecting people with possibility — easier evenings, happier days, bigger savings accounts, wider nets and stronger communities.</p>
			</div>
		</div>
	</div>
</div>	

